
body {
    /* background-color: #c6ae8c; */
    background-image: url('picture/bg.png'); /* ใส่ชื่อไฟล์รูป */
    background-size: cover; /* ปรับขนาดให้เต็มจอ */
    background-position: center; /* จัดตำแหน่งให้อยู่ตรงกลาง */
    background-repeat: no-repeat; /* ไม่ให้รูปซ้ำ */
    font-family: "Mitr", serif;
    font-weight: 200;
    font-style: normal;   
    scroll-behavior: smooth;
}

button {
    background-color: #ffffff;
    color: rgb(67, 111, 255);
    padding: 5px 20px;
    border: none;
    border-top: 1px solid #8a8a8a;
    width: 100%;
}

card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10%;
    margin-block-start: 120%;
    width: 80%;
    display: inline-block;
    text-align: center;
}
card_flower {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10%;
    margin-block-start: 120%;
    width: 80%;
    display: inline-block;
    text-align: center;
}

card_alert {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10%;
    margin-block-start: 70%;
    width: 80%;
    display: inline-block;
    text-align: center;
}

card2 {
    color: #ffffff;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-block-start: 120%;
    width: 80%;
    display: inline-block;
    text-align: center;
}
card3 {
    color: #ffffff;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-block-start: 120%;
    margin-bottom: 60%;
    width: 80%;
    display: inline-block;
    text-align: center;
}


card_ig {
    color: #ffffff;
    height: 100px;
      
}
card_profile {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* color: hsl(0, 0%, 100%); */
    padding-top: 10%;
    padding-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-block-start: 120%;
    width: 80%;
    display: inline-block;
    text-align: center;
}
section {
    scroll-margin-top: 30vh; /* ปรับระยะห่างข้างบน */
}
